[alias]
run-wasm = "run --release --package run-wasm --"

[target.x86_64-pc-windows-msvc]
rustflags = [
    "-C", "target-cpu=native",
    "-C", "opt-level=3",
    "-C", "codegen-units=1",
    "-C", "embed-bitcode",
]

[target.wasm32-unknown-unknown]
rustflags = [
    "-C", "opt-level=3",
    "-C", "embed-bitcode",
    "-C", "codegen-units=1",
    "-C", "panic=abort",
    "-C", "target-feature=+atomics,+bulk-memory,+mutable-globals,+simd128",
    # see https://github.com/wasm-bindgen/wasm-bindgen/pull/4717, https://github.com/rust-lang/rust/pull/147225, https://github.com/wasm-bindgen/wasm-bindgen/issues/4727
    "-C", "link-arg=--shared-memory",
    "-C", "link-arg=--max-memory=4294967296",
    "-C", "link-arg=--import-memory",
    "-C", "link-arg=--export=__wasm_init_tls",
    "-C", "link-arg=--export=__tls_size",
    "-C", "link-arg=--export=__tls_align",
    "-C", "link-arg=--export=__tls_base",
    "--cfg=web_sys_unstable_apis",
    '--cfg', 'getrandom_backend="wasm_js"'
]
